<ion-view title="Menu">
  <ion-content class="has-header">
  	<label class="item item-input">
	  <span class="input-label" >Search</span>
	  <input ng-model="search_menu" type="text">
	</label>
    <ion-list>
      <ion-item ng-repeat="friend in friends | filter:search_menu" type="item-text-wrap" href="#/tab/friend/{{friend.id}}" >
        {{friend.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
