<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{friend.name}}">
  <ion-content has-header="true" padding="true">
  		<div class="row">
		  <div class="col col-25">Food</div>
		  <div class="col col-75">{{friend.name}}</div>
		</div>
		<div class="row">
		  <div class="col col-25">Food Desciption</div>
		  <div class="col col-75">{{friend.description}}</div>
		</div>
  </ion-content>
</ion-view>
